<div *ngIf="movie">
  <div class="card border-dark mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          class="card-img"
          src="{{ movie.img_path }}"
          alt="Poster de la película {{ movie.name }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center">{{ movie.name }}</h5>
          <hr>
          <p class="card-text">
            <strong>Genero: </strong> {{ movie.genre }}
          </p>
          <p class="card-text">
            <strong>Popularity: </strong> {{ movie.vote }}
          </p>
          <p class="card-text">
            <strong>Release date: </strong> {{ movie.release_date }}
          </p>
          <hr>
          <a href="#" class="stretched-link">Get Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
