<div *ngIf="movie">
  <div class="card shadow p-3 mb-3 rounded">
    <img
      class="card-img"
      style="height: 25%"
      href="image"
      src="{{ movie.img_path }}"
      alt="Poster de la película {{ movie.name }}"
    />
    <div class="card-body">
      <h5 class="card-title text-center">{{ movie.name }}</h5>
      <hr />
      <p class="card-text"><strong>Genero: </strong> {{ movie.genre }}</p>
      <p class="card-text"><strong>Popularity: </strong> {{ movie.vote }}</p>
      <p class="card-text"><strong>Release date: </strong></p>
      <hr />
      <p class="text-center">
        <a href="#" class="stretched-link">Get Details</a>
      </p>
    </div>
  </div>
</div>
