<div class="container w-25 mt-5">
  <form>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="inputUsername"
        aria-describedby="usernameHelp"
        placeholder="Username"
        autofocus
      />
      <small id="usernameHelp" class="form-text text-muted">
        Set the name you want us to call you
      </small>
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
        placeholder="Email address"
      />
      <small id="emailHelp" class="form-text text-muted">
        Example: meca@gmail.com
      </small>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        aria-describedby="passwordHelp"
        placeholder="Password"
      />
      <small id="passwordHelp" class="form-text text-muted">
          Must be between 5 and 8 caracters with letters and numbers
      </small>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="inputPasswordCheck"
        placeholder="Password Check"
      />
      <small
        id="passwordCheckHelp"
        class="form-text text-muted"
        aria-describedby="passwordCheckHelp"
      >
        Password Check must be the same as Password
      </small>
    </div>
    <button type="submit" class="btn btn-info btn-block">Register</button>
  </form>
</div>
