<ngx-spinner></ngx-spinner>
<div class="jumbotron jumbotron-fluid width">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img
          class="img-fluid img-thumbnail"
          src="{{ movie.img_path }}"
          alt="Poster de la película {{ movie.name }}"
        />
      </div>
      <div class="col-8">
        <h1 class="display-4">{{ movie.name }}</h1>
        <p class="lead">
          <strong>Release Date: </strong>{{ movie.parsedDate }}
        </p>
        <p class="card-text"><strong>Vote Count: </strong>{{ movie.vote }}</p>
        <button
          data-toggle="collapse"
          data-target="#votos"
          class="btn btn-success"
        >
          Vote
        </button>
        <div id="votos" class="collapse btn-group">
          <button
            *ngFor="let i of vote"
            type="button"
            class="btn btn-secondary"
            (click)="rateMovie(i)"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            {{ vote[i] }}
          </button>
        </div>
        <hr>
        <button class="btn btn-info" (click)="goBack()">
          Go Back
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Actors -->
<div class="container">
  <h5 class="card-header">
    Actors
  </h5>
  <div class="container card-group mx-auto">
    <app-actor
      *ngFor="let actor of movie.actors"
      class="col-4 actor"
      [actor]="actor"
    >
    </app-actor>
  </div>
</div>
