<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
      <h1 class="display-4">TP FINAL TTADS</h1>
      <p class="lead">
        Aplicacion Web en <strong>Angular</strong> que consume una REST API
        desarrollada con <strong>Nodejs</strong> y <strong>MongoDB</strong>
      </p>
    </div>

    <!-- Las 3 Cards -->
    <div class="card-group mb-10">
      <!-- Card de Angular -->
      <div class="card border-0 mb-10">
        <img
          class="card-img-top mx-auto d-block mt-4"
          src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg"
          alt="Placeholder Image of Angular"
          width="140"
          height="140"
        />
        <div class="card-body">
          <h4 class="card-tittle text-center">
            <strong>Angular</strong>
          </h4>
          <p class="card-text text-center">
            Angular is a platform that makes it easy to build applications with
            the web. Angular combines declarative templates, dependency
            injection, end to end tooling, and integrated best practices to
            solve development challenges. Angular empowers developers to build
            applications that live on the web, mobile, or the desktop.
          </p>
        </div>
        <a href="https://angular.io/" target="_blank" class="btn mb-3">
          Leer más ...
        </a>
      </div>
      <!-- Fin Card de Angular -->

      <!-- Card de Nodejs -->
      <div class="card border-0 mb-10">
        <img
          class="card-img-top mx-auto d-block mt-4"
          src="https://nodejs.org/static/images/logo.svg"
          alt="Placeholder image of Nodejs"
          height="140"
          width="140"
        />
        <div class="card-body">
          <h4 class="card-tittle text-center">
            <strong>Nodejs</strong>
          </h4>
          <p class="card-text text-center">
            Node.js es un entorno de ejecución para JavaScript construido con el
            motor de JavaScript V8 de Chrome.
          </p>
        </div>
        <a href="https://nodejs.org/es/" target="_blank" class="btn mb-3">
          Leer más ...
        </a>
      </div>
      <!-- Fin Card de Nodejs -->

      <!-- Card de MongoDB -->
      <div class="card border-0 mb-10">
        <img
          class="card-img-top mx-auto d-lock mt-4"
          src="https://d24wuq6o951i2g.cloudfront.net/img/events/id/457/457448385/assets/6a3.MongoDB-Logo-3x.png"
          alt="Placeholder Image of MongoDB"
          width="140"
          height="140"
        />
        <div class="card-body">
          <h4 class="card-tittle text-center">
            <strong>MongoDB</strong>
          </h4>
          <p class="card-text text-center">
            MongoDB is a general purpose, document-based, distributed database
            built for modern application developers and for the cloud era. No
            database makes you more productive.
          </p>
        </div>
        <a href="https://www.mongodb.com" target="_blank" class="btn mb-3">
          Leer más ...
        </a>
      </div>
      <!-- Fin Card de MongoDB -->
    </div>
    <!-- Fin de las 3 Cards -->
  </body>
</html>
