<ngx-spinner></ngx-spinner>
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1 class="display-4">Now Playing Movies</h1>
  <p class="lead">
<strong>{{ dateToday }}</strong>
  </p>
</div>
<!-- Películas con card-->
<div *ngIf="nowPlayingMovies.length" class="container mt-2">
  <div class="card-deck">
    <app-movie
      *ngFor="let movie of nowPlayingMovies"
      [movie]="movie"
      class="col-4"
    ></app-movie>
  </div>
</div>
<!-- Alert messages -->
<div *ngIf="!nowPlayingMovies.length" class="container text-center">
  <div *ngIf="!nowPlayingMovies.length" class="alert alert-primary" role="alert">
    No Movies Found!
  </div>
</div>
<div *ngIf="errorMessage" class="container text-center">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
