<ngx-spinner></ngx-spinner>
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1 class="display-4">Popular Movies</h1>
</div>
<!-- Movies -->
<div *ngIf="popularMovies.length" class="container mt-2">
  <div class="card-deck">
    <app-movie
      *ngFor="let movie of popularMovies"
      [movie]="movie"
      class="col-4"
    ></app-movie>
  </div>
</div>
<!-- Alert messages -->
<div *ngIf="!popularMovies.length" class="container text-center">
  <div *ngIf="!popularMovies.length" class="alert alert-primary" role="alert">
    No Popular Movies Found!
  </div>
</div>
<div *ngIf="errorMessage" class="container text-center">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
