<!--Barra nav-->
<nav class="navbar navbar-expand-md navbar-dark bg-success sticky-top">
  <a class="navbar-brand" routerLink="/popular">MyCrazyMovie</a>
  <!--Boton responsive de menú "hamburguesa"-->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- Routing izquierdo -->
    <ul class="navbar-nav mr-auto">      
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/search-movies"
          routerLinkActive="active"
        >
          Search
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/now-playing" routerLinkActive="active">
          Now Playing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/popular" routerLinkActive="active">
          Popular
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addmovie" routerLinkActive="active">
          Add
        </a>
      </li>
    </ul>
    <!-- Routing derecho -->    
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="!authService.loggedIn(); else templateLogOut">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">
            SignIn
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">
            SignUp
          </a>
        </li>
      </ng-container>
      <!-- Template a mostrar si el usuario esta logueado -->
      <ng-template #templateLogOut>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="this.authService.logOut()">LogOut</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
