<div class="container mt-2">
  <div class="card">
    <h5 class="card-header text-center">Add a Movie</h5>
    <div class="card-body">
      <form
        [formGroup]="addMovieForm"
        (ngSubmit)="addMovie()"
        class="needs-validation"
        novalidate
      >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputMovieName">Name</label>
            <input
              type="text"
              class="form-control "
              formControlName="name"
              placeholder="Enter a movie name"
              autofocus
              required
            />
            <!-- Valid message -->
            <div *ngIf="name.valid && (name.dirty || name.touched)">
              <span class="badge badge-success">Looks good!</span>
            </div>
            <!-- Error message -->
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
              <small class="badge badge-danger">Name is required.</small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputMovieGenre">Genre</label>
            <input
              type="text"
              class="form-control"
              formControlName="genre"
              placeholder="Comedy, Terror, Psi-Fi, Drama, etc."
              required
            />
            <!-- Valid message -->
            <div *ngIf="genre.valid && (genre.dirty || genre.touched)">
              <span class="badge badge-success">Looks good!</span>
            </div>
            <!-- Error message -->
            <div *ngIf="genre.invalid && (genre.dirty || genre.touched)">
              <small class="badge badge-danger">Genre is required.</small>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputMovieYear">Year</label>
            <input
              type="text"
              class="form-control"
              formControlName="year"
              placeholder="Year when it was released"
              required
            />
            <!-- Valid message -->
            <div *ngIf="year.valid && (year.dirty || year.touched)">
              <span class="badge badge-success">Looks good!</span>
            </div>
            <!-- Error message -->
            <div *ngIf="year.invalid && (year.dirty || year.touched)">
              <small class="badge badge-danger">Year is required.</small>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputMovieReleaseDate">Release date</label>
            <div class="form-control" style="border: 0ch;">
              <dp-date-picker
                #releaseDate
                [theme]="'dp-material'"
                formControlName="releaseDate"
                [config]="datePickerConfig"
              ></dp-date-picker>
            </div>
            <small class="text-muted">No need to fill this.</small>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputMoviePoster">Poster</label>
            <input
              type="file"
              class="form-control-file"
              formControlName="poster"
              (change)="onFileChanged($event)"
              required
            />
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped bg-success"
                role="progressbar"
                [style.width]="(uploadPercent | async) + '%'"
              ></div>
            </div>
            <small class="text-muted">
              Do not add movie until poster has been loaded!
            </small>
            <input #imageFilm type="hidden" [value]="urlImage | async" />
            <!-- Error message -->
            <div *ngIf="poster.invalid && (poster.dirty || poster.touched)">
              <small class="badge badge-danger">Poster is required.</small>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4 mx-auto">
          <button
            *ngIf="((urlImage | async) && addMovieForm.valid ); else btnDisabled"
            type="submit"
            class="btn btn-info btn-block"
          >
            Add Movie
          </button> 
          <!-- <ng-template #btnDisabled>
            <button
              type="submit"
              disabled="true"
              class="btn btn-info btn-block btn-danger"
            >
              Complete the form
            </button>
          </ng-template> -->
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="errorMessage" class="container text-center mt-2">
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  </div>
  <div *ngIf="validAdditionMsg" class="container text-center mt-2">
    <div class="alert alert-success">
      {{ validAdditionMsg }}
    </div>
  </div>
</div>
