<div class="container-md mt-5">
  <form class="col">
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
        placeholder="Email address"
        autofocus
      />
      <small id="emailHelp" class="form-text text-muted">
        Example: meca@gmail.com
      </small>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">
        Log In
      </button>
    </div>
  </form>
</div>
